<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="APITestSuite">
    <groups>
        <run>
            <include name="API"/>
        </run>
    </groups>
    <listeners>
        <listener class-name="base.listeners.ApiSuiteListener"/>
    </listeners>
    <test name="API Tests" >
        <classes>
            <class name="tests.api.BrandsApiTest"/>
            <class name="tests.api.ProductsApiTest"/>
            <class name="tests.api.UserAccountManagementApiTest"/>
            <class name="tests.api.UserAuthenticationApiTest"/>
        </classes>
    </test>
</suite>